In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st

# Problem Statement 1: Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table: High School Bachelors Masters Ph.d. Total Female 60 54 46 41 201 Male 40 44 53 57 194 Total 100 98 99 98 395 Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?Null Hypothesis H0 : Gender and education level are independent. Alternative Hypothesis H1 : Gender and education level are dependent.

In [8]:

alpha=0.05
chi2,p,dof,expected=st.chi2_contingency([[60,54,46,41],[40,44,53,57]])
df=pd.DataFrame(np.array([[60,54,46,41],expected[0],[40,44,53,57],expected[1]]),columns=['High School','Bachelors','Masters','Ph.d'],index=['Female','Exp_Female','Male','Exp_male'])
if p<alpha:
    print("Null Hypothesis is rejected(Gender and education level are dependent.)")
else:
    print('Null Hypothesis is accepted(Gender and education level are independent.)')

Null Hypothesis is rejected(Gender and education level are dependent.)

In [9]:
df

            High School  Bachelors    Masters       Ph.d
Female        60.000000  54.000000  46.000000  41.000000
Exp_Female    50.886076  49.868354  50.377215  49.868354
Male          40.000000  44.000000  53.000000  57.000000
Exp_male      49.113924  48.131646  48.622785  48.131646

# Problem Statement 3: Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25

In [10]:
s1=[10,20,30,40,50]
s2=[5,10,15,20,25]
f,p=st.f_oneway(s1,s2)
print("F-value is :",f)
print("p-value is :",p)

F-value is : 3.6
p-value is : 0.0943497728424377